
.cookie-message {
  width: 200px;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background: #111 url(image_web.jpeg) 245px 45px no-repeat;
}
.cookie-message p { color: #FFF }
.cookie-message a { color: #2AF }
